<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>youtube Video Id</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <h1 class="header">Enter Your Input:</h1>
    <form action="/youtube-player" method="post">
        <label for="userInput">User Input:</label>
        <input type="text" id="userInput" name="userInput" required>
        <button type="submit">Submit</button>
    </form>
</body>

</html>